<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <link rel="shortcut icon" href="{%  static 'enigmes/img/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'enigmes/css/base.css' %}" />
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'enigmes/css/prism.css' %}" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Loading mathjax macro -->
    <!-- Load mathjax -->
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
      </script>
      <script type="text/x-mathjax-config">
  	MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']],
                                displayMath: [ ['$$','$$'], ["\\[","\\]"] ]}});
  	</script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  {% block balise_body %}
  <body>
  {% endblock %}
    <div class="fullscreen">
      {% block balise_header %}
        <div class="header-container">
        {% endblock %}
          {% block nav %}{% endblock %}
          <!-- {% if nav_complete %}
          <nav class="nav">
              <ul class="menu">
                {% if user.is_authenticated %}
                  <li><a href="{% url 'accueil' %}">Accueil</a></li>
                  <li><a href="{% url 'enigmes' %}">Énigmes</a></li>
                  <li><a href="{% url 'enigme-create' %}">Créer une énigme</a></li>
                  <li class="gauche"><a href="{% url 'espace-perso' %}">Espace personnel</a></li>                
                  <li class="droite username">{{user.get_username}}</li>
                  <li><a href="{% url 'logout'%}?next=/">Se déconnecter</a></li>
                {% else %}
                  <li class="droite"><a href="{% url 'login'%}">Se connecter</a></li>
                  <li><a href="{% url 'inscription'%}">S'inscrire</a></li>
                {% endif %}
              </ul>
          </nav>
          {% elif nav_mini %}
            <nav class="nav">
              <ul class="menu">
                <li class="droite"><a href="{% url 'enseignants'%}">Espace enseignants</a></li>
              </ul>
            </nav>
          {% endif %} -->
        </div>

        <div class="content-wrapper">
          <div class="alert-container">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="content-container">
            {% block content %}{% endblock %}
          </div>      
        </div>
        <div id="footer-transition"></div>
      </div>
      <footer>
        
        <div id="footer-content">
            {% load static %}
            <div id="footer-logo">
              <img src="{% static 'enigmes/img/enquetesSNT-white.svg' %}" alt="logo">
              <div class="icones-liens">
                <img src="{% static 'enigmes/img/cc.svg' %}" alt="logo">
                <p><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr" target="_blank">CC BY-NC-SA 4.0</a></p>
              </div>
              <div class="icones-liens">
                <img src="{% static 'enigmes/img/auteur.svg' %}" alt="logo">
                <p>Germain Becker</p>
              </div>
            </div>
            <div id="footer-icones">
              <div class="icones-liens">
                <img src="{% static 'enigmes/img/github-logo.svg' %}" alt="logo">
                <p><a href="https://github.com/germainbecker/enquetes-snt" target="_blank">GitHub</a></p>
              </div>
              <div class="icones-liens">
                <img src="{% static 'enigmes/img/email.svg' %}" alt="logo">
                <p>mon.adresse@enquetes-snt.fr</p>
              </div>
              <div class="icones-liens">
                <img src="{% static 'enigmes/img/donation.svg' %}" alt="logo">
                <p><a href="https://www.onparticipe.fr/cagnottes/bNagoLGz" target="_blank">Participer à la cagnotte</a></p>
              </div>
            </div>
            <div id="footer-a-propos">
              <h2 id="a-propos-titre">À propos</h2>
              <p>Cette plateforme est une application développée en Python avec le framework Django. Elle permet aux enseignants de SNT de créer, mutualiser et partager des énigmes à destination de leurs élèves. Le code source est disponible sur GitHub, où d'autres informations sur le projet sont disponibles. Une cagnotte a été ouverte afin de participer aux frais de fonctionnement de l'application.</p>
            </div>
        </div>        
      </div>
      </footer>

    <div class="js-files"></div>    
      <script src="{% static 'enigmes/js/btn_menu.js' %}"></script>
      {% block jsfiles %}{% endblock %}
      <!-- jQuery -->
      <script src="{% static 'enigmes/js/jquery.js' %}"></script>
    </div>

  </body>
</html>