<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'enigmes/css/base_coloree.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'enigmes/css/prism.css' %}" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Loading mathjax macro -->
    <!-- Load mathjax -->
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
      </script>
      <script type="text/x-mathjax-config">
  	MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']],
                                displayMath: [ ['$$','$$'], ["\\[","\\]"] ]}});
  	</script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <div class="header-container">
        <nav class="nav">
            <ul class="menu">
              {% if user.is_authenticated %}
                <li><a href="{% url 'accueil' %}">Accueil</a></li>
                <li><a href="{% url 'enigmes' %}">Énigmes</a></li>
                <li><a href="{% url 'enigme-create' %}">Créer une énigme</a></li>
                <li class="gauche"><a href="{% url 'espace-perso' %}">Espace personnel</a></li>                
                <li class="droite username">{{user.get_username}}</li>
                <li><a href="{% url 'logout'%}?next=/">Se déconnecter</a></li>
              {% else %}
                <li class="droite"><a href="{% url 'login'%}">Se connecter</a></li>
                <li><a href="{% url 'inscription'%}">S'inscrire</a></li>
              {% endif %}
            </ul>
        </nav>
      </div>

      <div class="content-wrapper">
        <div class="alert-container">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="content-container">
          {% block content %}{% endblock %}
        </div>      
      </div>
      
      <footer>
        <div>
            Footer
        </div>
    </footer>

    <div class="js-files">
      <!-- Prism (code highlighter)-->
      <script src="{% static 'enigmes/js/prism.js' %}"></script>

      <!-- jQuery -->
      <script src="{% static 'enigmes/js/jquery.js' %}"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="{% static 'enigmes/js/bootstrap.min.js' %}"></script>
    </div>

  </body>
</html>