{% extends 'enigmes/base.html' %}

{% block nav %}
{% include 'enigmes/nav.html' with nav="nav_complete" %}
{% endblock %}

{% block content %}
{% include 'enigmes/modale_images.html' %}


<div class="enquete-creation-cle-container">
    <h1>Copier l'enquête {{ code }}</h1>

    <p class="para-enonce">Avant de copier l'enquête sur votre compte, vous pouvez visualiser l'enquête ci-dessous et modifier, si vous le souhaitez, la description et les paramètres de l'enquête.</p>
    <p class="para-enonce">Une fois l'enquête copiée sur votre compte, vous pourrez modifier les énigmes de l'enquête (et aussi la description et les paramètres).</p>
    
    <div class="form-creation-enquete">
        <form method="POST">
            {% csrf_token %}
            <div class="input-container">
                <p class="label">
                    <label for="description" class="label">{{ form.description.label }}</label>
                </p>
                <p class="consigne">{{ form.description.help_text }}</p>
                <p class="input">
                    {{form.description}}
                </p>               
            </div>
            <div class="input-container">
                <p class="label">{{ form.indications.label }}</p>                
                <div class="checkbox">                    
                    {{ form.indications }}
                    <span class="consigne">{{ form.indications.help_text }}</span>
                </div>
            </div>
    
            <div class="input-container">
                <p class="label">{{ form.correction.label }}</p>                
                <div class="checkbox">
                    {{ form.correction }}
                    <span class="consigne">{{ form.correction.help_text }}</span>
                </div>
            </div>
    
            <div class="input-container">
                <p class="label">{{form.score.label}}</p>
                <div class="checkbox">
                    {{ form.score }}
                    <span class="consigne">{{form.score.help_text}}</span>
                </div>
            </div>
    
            <div class="input-container">
                <p class="label">{{form.ordre_aleatoire.label}}</p>
                <div class="checkbox">
                    {{ form.ordre_aleatoire }}
                    <span class="consigne">{{ form.ordre_aleatoire.help_text }}</span>
                </div>
            </div>
                
            <div class="btn-form">
                <button class="btn-validation" type="submit">Copier l'enquête</button>
            </div>
        </form>
    </div>

    <div id="apercu-enquete">
        {% load markdownify %}
        {% load static %}
        {% load custom_tags %}
        <h2>Aperçu de l'enquête</h2>
        <div id="liste-enigmes">
            
            {% for enigme in enigmes %}
                <div class="enigme-container {{ enigme.theme }}" data-auteur="{{ enigme.auteur.first_name }} {{ enigme.auteur.last_name }}">
                    
                    {% include 'enigmes/enigme.html' with enigme=enigme pour_eleves=False affiche_reponses=True %}
                
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% if enigmes %}
{% include 'enigmes/boutons_scroll.html' %}
{% endif %}

{% endblock %}

{% block jsfiles %}
{% load static %}
<script src="{% static 'enigmes/js/gestion_images_liens.js' %}"></script>
<script src="{% static 'enigmes/js/prism.js' %}"></script>
{% endblock %}