{% extends 'enigmes/base.html' %}

{% block nav %}
{% include 'enigmes/nav.html' with nav="nav_complete" %}
{% endblock %}

{% block content %}
<div class="form-enquete-tri">
    <h1>{{ titre }}</h1>
</div>

<p class="para-enonce">Sélectionner les énigmes à ajouter à votre enquête puis valider en bas de page.</p>
<p class="para-enonce">N'hésitez pas à filtrer les énigmes pour aller plus vite.</p>

{% include 'enigmes/filtre.html' %}
{% include 'enigmes/modale_images.html' %}

{% load static %}
{% load custom_tags %}
<div class="form-creation-enquete">
    <form method="POST" id="form">
        {% csrf_token %}

        <div id="liste-enigmes">
            {% for enigme in enigmes %}
                {% load markdownify %}
                <div class="filterDiv {{ enigme.theme }}" data-auteur="{{ enigme.auteur.first_name }} {{ enigme.auteur.last_name }}">
                    <div class="selected-enigme-container">
                        <div class="checkbox-container" id="case-{{ enigme.id }}">
                            <input type="checkbox" name="enigmes" id="enigme-{{ enigme.id }}" class="case-a-cocher" value="{{ enigme.id }}" autocomplete="off">
                        </div>
                        <div class="enigme-container">
                            {% include 'enigmes/enigme.html' with enigme=enigme %}
                        </div>
                    </div>
                </div>
                                
            {% endfor %}
        </div>

        <div class="input-container">
            <p class="label">
                <label for="description" class="label">{{ form.description.label }}</label>
            </p>
            <p class="consigne">{{ form.description.help_text }}</p>
            <p class="input">
                {{form.description}}
            </p>               
        </div>
        <div class="input-container">
            <p class="label">{{ form.indications.label }}</p>                
            <div class="checkbox">                    
                {{ form.indications }}
                <span class="consigne">{{ form.indications.help_text }}</span>
            </div>
        </div>

        <div class="input-container">
            <p class="label">{{ form.correction.label }}</p>                
            <div class="checkbox">
                {{ form.correction }}
                <span class="consigne">{{ form.correction.help_text }}</span>
            </div>
        </div>

        <div class="input-container">
            <p class="label">{{form.score.label}}</p>
            <div class="checkbox">
                {{ form.score }}
                <span class="consigne">{{form.score.help_text}}</span>
            </div>
        </div>

        <div class="input-container">
            <p class="label">{{form.ordre_aleatoire.label}}</p>
            <div class="checkbox">
                {{ form.ordre_aleatoire }}
                <span class="consigne">{{ form.ordre_aleatoire.help_text }}</span>
            </div>
        </div>
        
        <div id="cle-enquete">
            <p id="cle-enquete-contenu">Vous n'avez sélectionné aucune énigme.</p>
            <p id="message-erreur">Vous devez sélectionner au moins une énigme pour créer une enquête.</p>
        </div>

        <div class="btn-form">
            <button id="btn-creer-enquete" class="btn-validation" type="submit">Créer l'enquête</button>
        </div>
    </form>
</div>

{% include 'enigmes/boutons_scroll.html' %}

{% load static %}


{% endblock %}

{% block jsfiles %}
{% load static %}
<script src="{% static 'enigmes/js/enquete_form.js' %}"></script>
<script src="{% static 'enigmes/js/filtre.js' %}"></script>
<script src="{% static 'enigmes/js/gestion_images_liens.js' %}"></script>
<script src="{% static 'enigmes/js/prism.js' %}"></script>
{% endblock %}