{% extends 'enigmes/base.html' %}

{% block nav %}
{% include 'enigmes/nav.html' with nav="nav_complete" %}
{% endblock %}

{% block content %}
<div class="enquete-creation-cle-container">
    <h1>Créer une enquête à partir d'une liste</h1>

    <p>Renseignez les champs ci-dessous puis validez.</p>
    
    <div class="form-creation-enquete">
        <form method="POST">
            {% csrf_token %}
            <div class="input-container">
                <p class="label">
                    <label for="cle">{{form.cle.label}}</label>
                </p>
                <p class="consigne">{{form.cle.help_text}}</p>
                <p class="input">
                    {{form.cle}}
                </p>
            </div>
            <div class="input-container">
                <p class="label">
                    <label for="description" class="label">{{form.description.label}}</label>
                </p>
                <p class="consigne">{{form.description.help_text}}</p>
                <p class="input">
                    {{form.description}}
                </p>               
            </div>
            <div class="input-container">
                <p class="label">{{form.indications.label}}</p>
                <p class="consigne"></p>
                <div class="radio">
                    <div>
                        <input type="radio" name="indications" value="oui" checked>
                        <label for="indications">Oui</label>
                    </div>
                    <div>
                        <input type="radio" name="indications" value="Non">
                        <label for="indications">Non</label>
                    </div>
                </div>
            </div>
    
            <div class="input-container">
                <p class="label">{{form.correction.label}}</p>
                <p class="consigne">{{form.correction.help_text}}</p>
                <div class="radio">
                    <div>
                        <input id="correction_oui" type="radio" name="correction" value="oui">
                        <label for="correction_oui">Oui</label>
                    </div>
                    <div>
                        <input id="correction_non" type="radio" name="correction" value="Non" checked>
                        <label for="correction_non">Non</label>
                    </div>
                </div>
            </div>
    
            <div class="input-container">
                <p class="label">{{form.score.label}}</p>
                <p class="consigne">{{form.score.help_text}}</p>
                <div class="radio">
                    <div>
                        <input id="score_oui" type="radio" name="score" value="oui">
                        <label for="score_oui">Oui</label>
                    </div>
                    <div>
                        <input id="score_non" type="radio" name="score" value="Non" checked>
                        <label for="score_non">Non</label>
                    </div>
                </div>
            </div>
    
            <div class="input-container">
                <p class="label">{{form.ordre_aleatoire.label}}</p>
                <p class="consigne">{{form.ordre_aleatoire.help_text}}</p>
                <div class="radio">
                    <div>
                        <input type="radio" name="ordre" value="oui">
                        <label for="ordre">Oui</label>
                    </div>
                    <div>
                        <input type="radio" name="ordre" value="Non" checked>
                        <label for="ordre">Non</label>
                    </div>
                </div>
            </div>
    
            <div class="btn-form">
                <button class="btn-validation" type="submit">Créer l'enquête</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block jsfiles %}
{% load static %}
<script src="{% static 'enigmes/js/enquete_form_cle.js' %}"></script>
<script src="{% static 'enigmes/js/prism.js' %}"></script>
{% endblock %}