{% extends 'enigmes/base.html' %}

{% block nav %}
{% include 'enigmes/nav.html' with nav="nav_complete" %}
{% endblock %}

{% block content %}
<div class="form-enquete-tri">
    <h1>Modification de l'enquête de code {{ code }}</h1>
</div>

<p class="para-enonce">Vous pouvez modifier les paramètres et le choix des énigmes de l'enquête directement ci-dessous.</p>

{% load static %}
{% load custom_tags %}
<div class="form-creation-enquete">
    <form method="POST" name="form-creation-enquete">
        {% csrf_token %}
        <div class="input-container">
            <p class="label">
                <label for="cle">{{ form.cle.label }}</label>
            </p>
            <p class="consigne">{{ form.cle.help_text }}</p>
            <p class="input">
                {{form.cle}}
            </p>
        </div>
        <div class="input-container">
            <p class="label">
                <label for="description" class="label">{{ form.description.label }}</label>
            </p>
            <p class="consigne">{{ form.description.help_text }}</p>
            <p class="input">
                {{form.description}}
            </p>               
        </div>
        <div class="input-container">
            <p class="label">{{ form.indications.label }}</p>                
            <div class="checkbox">                    
                {{ form.indications }}
                <span class="consigne">{{ form.indications.help_text }}</span>
            </div>
        </div>

        <div class="input-container">
            <p class="label">{{ form.correction.label }}</p>                
            <div class="checkbox">
                {{ form.correction }}
                <span class="consigne">{{ form.correction.help_text }}</span>
            </div>
        </div>

        <div class="input-container">
            <p class="label">{{form.score.label}}</p>
            <div class="checkbox">
                {{ form.score }}
                <span class="consigne">{{form.score.help_text}}</span>
            </div>
        </div>

        <div class="input-container">
            <p class="label">{{form.ordre_aleatoire.label}}</p>
            <div class="checkbox">
                {{ form.ordre_aleatoire }}
                <span class="consigne">{{ form.ordre_aleatoire.help_text }}</span>
            </div>
        </div>

        <div class="btn-form">
            <button id="btn-validation" class="btn-validation" type="submit">Enregistrer les modifications</button>
        </div>
        <button id="btn-apercu-enquete" type="submit" name="apercu-enquete">Rafraîchir l'aperçu</button>
    </form>
</div>
<div id="apercu-enquete">
    {% load markdownify %}
    {% load static %}
    {% load custom_tags %}
    <div id="liste-enigmes">
        
        {% for enigme in enigmes %}
            <div class="enigme-container {{ enigme.theme }}" data-auteur="{{ enigme.auteur.first_name }} {{ enigme.auteur.last_name }}">
                
                {% include 'enigmes/enigme.html' with enigme=enigme pour_eleves=False affiche_reponses=True %}
            
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block jsfiles %}
{% load static %}
<script src="{% static 'enigmes/js/enquete_form_cle.js' %}"></script>
<script src="{% static 'enigmes/js/filtre.js' %}"></script>
<script src="{% static 'enigmes/js/gestion_images_liens.js' %}"></script>
<script src="{% static 'enigmes/js/prism.js' %}"></script>
{% endblock %}