{% autoescape off %}
Bonjour {{ user.first_name }} {{ user.last_name }},

Vous venez de créer un compte sur la plateforme http://{{ domain }} avec le pseudonyme suivant : {{ user.username }}

Pour activer votre compte, cliquez sur le lien suivant, ou copiez et collez-le dans un navigateur :

http://{{ domain }}{% url 'account_activation' uidb64=uid token=token %}  

Si vous n'êtes pas le bon destinataire de cet e-mail, vous pouvez ignorer ce message.

Cordialement,

Germain Becker, développeur de l'application.

{% endautoescape %}