{% extends "enigmes/base.html" %}

{% block balise_body%}
<body class="couleur">
{% endblock %}

{% block nav %}
{% include 'enigmes/nav.html' with nav=None %}
{% endblock %}

{% block content %}
<div class="form-inscription">
  <p>Entrez votre adresse email et nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>
  <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="btn-form">
      <button class="btn-validation" type="submit">Réinitialiser le mot de passe</button>
    </div>
  </form>
</div> 
{% endblock %}
