<p>Bonjour,</p>

<p>Vous recevez cet e-mail car une demande de réinitialisation de mot de passe a été demandée pour votre compte utilisateur sur {{ domain }}.</p>

<p>Si vous ne souhaitez pas réinitialiser votre mot de passe, ignorez simplement ce message.</p>

<p>Pour réinitialiser votre mot de passe, cliquez sur le lien ci-dessous, ou copiez et collez-le dans un navigateur :</p>

<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" target="_blank">
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</a>

<p>Bien cordialement,</p>

<p>Germain Becker, développeur de l'application {{ domain }}</p>