{% extends "enigmes/base.html" %}

{% block balise_body%}
<body class="couleur">
{% endblock %}

{% block nav %}
{% include 'enigmes/nav.html' with nav=None %}
{% endblock %}

{% block content %}
    {% if validlink %}
        <div class="form-inscription">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="btn-form">
                    <button class="btn-validation" type="submit">Valider</button>
                </div>
            </form>
        </div>
    {% else %}
        <h3>La réinitialisation du mot de passe a échoué.</h3>
        <p>Le lien pour réinitialiser le mot de passe était invalide, sans doute car il a déjà été utilisé. Veuillez procéder à une nouvelle réinitialisation du mot de passe.</p>
    {% endif %}
{% endblock %}
